
body {
    font-family: 'Arial', sans-serif;
}


.navbar {
    background-color: #343a40;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}


.navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.form-control {
    border-radius: 20px;
}

.btn-outline-success {
    border-radius: 20px;
}


.btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff;
}


footer {
    background: linear-gradient(to right, #343a40, #292b2c);
    color: #ffffff;
    padding: 10px 0;
}


footer {
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}


body {
        font-family: 'Arial', sans-serif; /* Change the font family as needed */
        background-color: #f8f9fa; /* Set a background color for the entire page */
        color: #343a40; /* Set the text color */
    }

    .overlay-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* Set the text color for the overlay */
    }

    h1.display-4 {
        font-size: 3.5rem; /* Adjust the font size as needed */
    }

    p.lead {
        font-size: 1.25rem; /* Adjust the font size as needed */
    }

    hr.my-4 {
        border-color: #fff; /* Set the color of the horizontal rule */
    }

    .btn-primary {
        background-color: #007bff; /* Set the background color for primary buttons */
        border-color: #007bff; /* Set the border color for primary buttons */
        color: #fff; /* Set the text color for primary buttons */
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Set the background color on hover for primary buttons */
        border-color: #0056b3; /* Set the border color on hover for primary buttons */
    }

    .card {
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }