/* static/css/styles.css */

/* Style pour la barre de navigation */
nav {
    background-color: #f6f6f6;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-nav .nav-link {
    color: #f6f6f6;
}

/* Style pour le formulaire de promotion */
.form-container {
    background-color: #10b798;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les champs de formulaire */
.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Style pour le bouton du formulaire */
.form-container button {
    background-color: #a800bb;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* promo_app/static/css/styles.css */
.jumbotron {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
    text-align: center;
}

img  .img-fluid{
    width: 400px;
}

.produit {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            width: 300px; /* Ajustez la largeur selon vos besoins */
            float: left; /* Assurez-vous que les produits restent côte à côte */
            margin-right: 20px; /* Espace entre les produits */
        }

        .produit h3 {
            color: #333;
        }

        .produit p {
            color: #666;
        }

        .produit img {
            max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
            height: auto; /* Maintenez le rapport hauteur/largeur de l'image */
            margin-bottom: 10px;
        }

        .prix-promo, .prix-normal {
            font-size: 18px;
            font-weight: bold;
            color: #E44D26; /* Rouge pour les prix en promotion */
        }

        .prix-normal {
            text-decoration: line-through; /* Barre sur le prix normal */
            color: #333; /* Couleur normale pour les prix normaux */
        }