<!-- promo_app/templates/mercadona/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Votre Titre par Défaut{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Barre de navigation Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Mercadona</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue' %}">Catalogue</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'promotion' produit_id=1 %}">Promotion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_product' %}">Add_product</a>
                    </li>
                </ul>

                <!-- Barre de recherche et panier -->
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                </form>

            </div>
        </div>
    </nav>

    <!-- Contenu spécifique à chaque page -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Pied de page (vous pouvez personnaliser en fonction de vos besoins) -->
    <footer>
        <p>&copy; 2023 Votre Nom</p>
    </footer>

    <!-- Scripts JavaScript communs -->

    <!-- Vous pouvez ajouter d'autres scripts ici -->
    {% bootstrap_javascript %}
</body>
</html>
